* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}

.header .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navi .nav-links {
    list-style-type: none;
    display: flex;
}

.navi .nav-links li {
    margin-left: 2rem;
}

.navi .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navi .nav-links li a:hover {
    text-decoration: underline;
    color: #ffc107;
}

.main-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("/static/images/vecteezy_vector-interior-of-empty-underground-car-parking_21844520.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.content-box {
    border: 1px solid #333;
    padding: 2rem;
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.form-container{
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    width: 100%;
}

.form-group input:focus {
    outline: none;
    border: 2px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.create-account{
    padding: 0.7rem 1.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
}

.create-account:hover {
    background-color: #333;
}

.login-redirect {
    margin-top: 1rem;
    text-align: center;
}

.login-redirect a {
    color: blue;
    text-decoration: none;
}

.login-redirect a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer a {
    color: white;
}